.field {
  position: relative;

  &:has(.field__input:not(:placeholder-shown)) .field__label {
    scale: 0.7;
    translate: -1.75em -2.6em;
    color: var(--color-black);
  }
}

.field__label {
  position: absolute;
  top: 50%;
  left: 17px;
  color: var(--color-gray-3);
  translate: 0 -50%;
}

.field__input {
  --field-input-padding-x: 16px;
  --field-search-input-icon-size: 16px;
  
  width: 100%;
  height: var(--input-height);
  padding-inline: var(--field-input-padding-x);
  background-color: transparent;
  border: var(--border);
  border-radius: var(--border-radius);

  &:hover,
  &:focus {
    color: var(--color-dark-2);
  }

  &:focus {
    background-color: var(--color-gray-1);
    outline: none;
  }

  &[type="search"] {
    &:placeholder-shown {
      padding-right: calc(
        var(--field-input-padding-x * 2 + var(--field-search-input-icon-size))
      );
      background-image: url("../../assets/icons/search.svg");
      background-position: calc(100% - var(--field-input-padding-x)) 50%;
      background-size: var(--field-search-input-icon-size);
      background-repeat: no-repeat;
    }
  }
}